* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 50px;
  background-color: #ff9a4b;
}
main {
  width: 960px;
  margin: 50px auto; 
  display: flex; 
}
.box {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative; /*relativeは移動するときの基準が元いた位置。（⇔absoluteはウィンドウまたは親要素が基準）*/
  background-color: #eee;
}
/*.boxの↑で指定したmargin-right:30px;を打ち消してディスプレイを整える*/
.box:list-child {
  margin-right: 0;
}

.box-image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}
.box-image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}
.box-image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}
.step {
  position: absolute; /*親要素を基準にしてポジションを決める*/
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}
.title {
  margin: 15px 0 5px;
}
footer{
  height: 50px;
  background-color: #aaa;
}